﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1{
        font-size: 60px; 
        margin-top: 40px;
    }
    p, li{
        margin-top: 30px;
        font-size: 40px;
        text-align: left;
    }
    li{
        margin-top: 20px;
    }
</style>
<div class="text-center" style="margin-top: 10px; ">
    <h1 class="display-4">Welcome!<br>This is a personal site of our Restaurant.</h1>
    <p>Here you can choose what actions you want to do:</p>
    <ul>
        <li>Get the list of all ingredients;</li>
        <li>Edit some information about ingredient;</li>
        <li>Get the list of all dishes - Menu;</li>
        <li>Edit Menu or special dish;</li>
        <li>Get the list of all orders;</li>
        <li>Edit some information of special order;</li>
    </ul>
    <p>Choose the link from navigation bar to continue.</p>
</div>
