﻿
@{
    ViewData["Title"] = "EditDish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 40px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 100px;
        margin-bottom: 20%;
        border-radius: 2px;
    }
</style>

<h1>Edit dish info</h1>
<h2>Write new values or old that are shown in placehorders</h2>

<form method="post" action="">
    <input type="hidden" name="OrderDishesId" value="@ViewBag.OrderDish.OrderDishesId" />
    <input type="hidden" name="OrderId" value= "@ViewBag.OrderDish.OrderId"/>
    <input type="hidden" name="PriceId" value="@ViewBag.OrderDish.PriceId" />
    <label>Amount of portions</label>
    <input type="number" name="PortionCount" placeholder="@ViewBag.OrderDish.PortionCount" required />
    <input type="submit" value="Edit dish" />
</form>
