﻿
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using System.Linq
<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    .smallLink {
        color: cadetblue;
        font-size: 20px;
    }

    td p {
        margin-top: 5px;
        margin-bottom: 1px;
    }

    p {
        margin-top: 40px;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h1>List of orders</h1>
<div class="div_table">
    <table>
        <tr>
            <td>Order Id</td>
            <td>Customer Name</td>
            <td>Date of creating</td>
            <td>Total price</td>
            <td colspan="3">Commands</td>
        </tr>
        @foreach (var order in ViewBag.Orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.CustomerName</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalPrice</td>
                <td>
                    <a href="/Order/GetDishes/@order.OrderId">Dishes<br /></a>
                    <a href="/Order/Edit/@order.OrderId">Edit order<br /></a>
                    <a href="/Order/Delete/@order.OrderId">Delete order<br /></a>
                </td>
            </tr>
        }
    </table>
</div>
<p><a href="/Order/Add">Add new order</a></p>

