﻿
@{
    ViewData["Title"] = "GetDishes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: 50%;
        height: auto;
        border: 2px solid black;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 40px;
    }
</style>
<h1>List of dishes in order with id: @ViewBag.Order.OrderId of customer @ViewBag.Order.CustomerName</h1>
<div class="div_table">
    <table>
        <tr>
            <td>Id of dish in order</td>
            <td>Dish name</td>
            <td>Dish portion</td>
            <td>Price per portion</td>
            <td>Count of portions</td>
            <td colspan="1">Command</td>
        </tr>

        @foreach (var ordDish in ViewBag.OrdDishes)
        {
            <tr>
                <td>@ordDish.OrderDishesId</td>
                @foreach (var price in ViewBag.Prices)
                {
                    @if (price.PriceId == ordDish.PriceId)
                    {
                        @foreach (var dish in ViewBag.Dishes)
                        {
                            @if (price.DishId == dish.DishId)
                            {
                                <td>@dish.DishName</td>
                            }
                        }
                        <td>@price.Portion gr</td>
                        <td>@price.PricePerPortion UAH</td>
                    }

                }
                <td>@ordDish.PortionCount</td>
                <td>
                    <a href="/Order/DeleteDishById/@ordDish.OrderDishesId">Delete</a>
                    <a href="/Order/EditDish/@ordDish.OrderDishesId">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>
<p><a href="/Order/AddDish/@ViewBag.Order.OrderId">Add new dish</a></p>

