﻿
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div {
        display: block;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
        text-align: center;
    }
    a{
        color:darkcyan;
    }
    a:hover{
        color: darkslategrey;
    }
</style>
<div>
    <p>@ViewData["Message"]</p>
    <p><a onclick="history.go(-1)">Return</a></p>
</div>
