﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 40px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 100px;
        margin-bottom: 10%;
        border-radius: 2px;
    }
</style>
<h1>Add new ingredient for the @ViewBag.Dish.DishName</h1>

<form method="post" action="">
    <input type="hidden" name="DishId" value=@ViewBag.Dish.DishId />
    <label>Ingredient Id</label>
    <input type="number" name="IngredientId" placeholder="Write id of ingredient" required />
    <input type="submit" value="Add ingredient" />
</form>


