﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 40px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 100px;
        margin-bottom: 10%;
        border-radius: 2px;
    }
</style>
<h1>Add new price</h1>

<form method="post" action="">
    <input type="hidden" name="DishId" value=@ViewData["DishId"] />
    <label>Portion weight</label>
    <input type="number" name="Portion" placeholder="Write the weight of the portion" required />
    <label>Price per portion</label>
    <input type="number" name="PricePerPortion" placeholder="Write the price per portion" required />
    <input type="submit" value="Add price" />
</form>


