﻿
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div {
        display: block;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
        text-align: center;
    }

    a {
        color: darkcyan;
    }

        a:hover {
            color: darkslategrey;
        }
</style>
<div>
    <p>@ViewData["Message"]</p>
    @if (@ViewData["Message"].ToString() == "There is not any ingredient for this dish")
    {
        <p><a href="/Dish/AddIngredient/@ViewData["DishId"]">Add new ingredient</a></p>
    }
    <p><a onclick="history.go(-1)">Return</a></p>
</div>
