﻿
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using System.Linq
<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    .smallLink {
        color: cadetblue;
        font-size: 20px;
    }
    td p{
        margin-top: 5px;
        margin-bottom: 1px;
    }
    p {
        margin-top: 40px;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h1>List of dishes</h1>
<div class="div_table">
    <table>
        <tr>
            <td>Dish Id</td>
            <td>Dish Name</td>
            <td>Portions</td>
            <td colspan="3">Commands</td>
        </tr>
        @foreach (var dish in ViewBag.Dishes)
        {
            <tr>
                <td>@dish.DishId</td>
                <td>@dish.DishName</td>
                <td>
                    @foreach (var price in ViewBag.Prices)
                    {

                        @if (price.DishId == dish.DishId)
                        {
                            <p>@price.PriceId) @price.Portion gr: @price.PricePerPortion UAH <br /></p>
                            <p>
                                <a class="smallLink" href="/Dish/EditPrice/@price.PriceId">Edit price</a>
                                <a class="smallLink" href="/Dish/DeletePrice/@price.PriceId">Delete price</a>
                            </p>
                        }

                    }
                </td>

                <td>
                    <a class="smallLink" href="/Dish/AddPrice/@dish.DishId">Add price<br /></a>
                </td>
                <td>
                    <a href="/Dish/GetIngredients/@dish.DishId">Ingredients<br /></a>
                    <a href="/Dish/Edit/@dish.DishId">Edit dish<br /></a>
                    <a href="/Dish/Delete/@dish.DishId">Delete dish<br /></a>
                </td>
            </tr>
         }
    </table>
</div>
<p><a href="/Dish/Add">Add new dish</a></p>

