﻿
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        color: midnightblue;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: 50%;
        height: auto;
        border: 2px solid black;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 40px;
    }
</style>
<h1>List of ingredients for dish @ViewBag.Dish.DishName</h1>
<div class="div_table">
    <table>
        <tr>
            <td>Ingredient Id</td>
            <td>Ingredient Name</td>
            <td colspan="1">Command</td>
        </tr>
        @foreach (var ingredient in ViewBag.Ingredients)
        {
            <tr>
                <td>@ingredient.IngredientId</td>
                <td>@ingredient.IngredientName</td>
                <td><a asp-action="DeleteIngredient" asp-route-dishId="@ViewBag.Dish.DishId" asp-route-ingrId="@ingredient.IngredientId">Delete</a></td>
            </tr>
        }
    </table>
</div>
<p><a href="/Dish/AddIngredient/@ViewBag.Dish.DishId">Add new ingredient</a></p>

